<div class="container">
<h1><%= @user.first_name%>
    <%= @user.last_name %></h1>
<% if @user.image %>
<div><%= image_tag @user.image %></div>
<% end %>



<ul>

    <% if @current_user && @current_user.id == @user.id  %>
    <% if @user.building_number && @user.street && @user.city && @user.state && @user.country %>
    <li>Address:
        <%= @user.building_number + " " + @user.street + ", " + @user.city + ", " + @user.state + ", " + @user.country %></li>
        <li>Email: <%= @user.email %></li>
    <% end %>
    <% end %>
</ul>

<!-- Controls to edit/delete profile, only available to current user -->
<div class="container controls">
    <% if @current_user && @current_user.id == @user.id  %>
    <button class="btn waves-effect waves-light z-depth-0" type="button" name="action"><%= link_to("Edit", "/users/#{@user.id}/edit") %></button>

    <button class="btn waves-effect waves-light z-depth-0" type="button" name="action"><%= link_to("Delete my profile", "/users/#{@user.id}", method: :delete, data: { confirm: "Are you sure?" }) %></button>
    <% end %>
</div>



<h3>Gigs I have attended</h3>
<ul>
<% @user.gigs.each do |gig| %>
    <li><%= link_to(gig.artist, "/gigs/#{gig.id}") %></li>
    <li><%= gig.date %></li>
    <li><%= gig.venue %></li>
    <li><%= gig.city %></li>
<% end %>
</ul>

  <% if @current_user && @current_user.id == @user.id  %>
<h2>messages</h2>
<ul>
 <% if @existing_chatrooms_users %>
   <% @existing_chatrooms_users.each do |other_user| %>
    <% if other_user != current_user %>
      <li>
        <%= link_to(user_chatrooms_path(current_user, :other_user => other_user.id), method: :post) do %>
        <%= other_user.username %>
        <% end %>
      </li>
     <% end %>
   <% end %>
  <% end %>
</ul>
<% end %>




<!-- Loop through all gigs, grab the lat and long, venue and city and push to an empty array, to display on map with hover over markers with infowindow -->
<% @markers = [] %>
<% @user.gigs.each do |i|%>
      <% @markers.push([i.latitude, i.longitude, i.venue, i.city, i.artist, i.date]) %>
<% end %>

<div id="map"></div>
</div>
  <style>
      #map {
          width: 80%;
          height: 400px;
          background-color: grey;
      }

  </style>
  <script>
      function initMap() {
          var userPos = {
              lat: <%= @current_user.latitude %>,
              lng: <%= @current_user.longitude %>
          };
          // Using markers array from above, saved this to variable
          var locs = <%= @markers.to_json.html_safe %>
          // Create map, rendering to the div with id of map, use userPos as the center
          var myOptions = {
              center: new google.maps.LatLng(userPos),
              zoom: 2,
              mapTypeId: google.maps.MapTypeId.ROADMAP
          };
          var map = new google.maps.Map(document.querySelector("#map"), myOptions);
          setMarkers(map,locs)
          }

          function setMarkers(map, locs){
              var marker, i;
              for(i = 0; i < locs.length; i++){
                  var lat = locs[i][0]
                  var long = locs[i][1]
                  var venue = locs[i][2]
                  var city = locs[i][3]
                  var artist = locs[i][4]
                  var date = locs[i][5]

              latlngset = new google.maps.LatLng(lat, long);

              var marker = new google.maps.Marker({
               map: map, title: venue , position: latlngset
                  });
              // map.setCenter(marker.getPosition())

              var content = '<div class=' + "marker" + '>' + '<h5>' + artist +  '</h5>' + '<h6>' + "at " + venue + '</h6>' + '<p>' + city + '</p>' + '<p>' + date + '</p>' + '</div>'
              var infowindow = new google.maps.InfoWindow()

              google.maps.event.addListener(marker,'mouseover', (function(marker,content,infowindow){
              return function() {
                 infowindow.setContent(content);
                 infowindow.open(map,marker);
                  };
              })(marker,content,infowindow));
              }
          };

  </script>


  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbIJZ9EErSr9JKgU1aHTgjCCY_m-v78wE&callback=initMap"></script>

</div>
