<h1><%= @user.first_name%>
    <%= @user.last_name %></h1>

<ul>
    <li>Email: <%= @user.email %></li>
    <% if @current_user && @current_user.id == @user.id  %>
    <% if @user.building_number && @user.street && @user.city && @user.state && @user.country %>
    <li>Address:
        <%= @user.building_number + " " + @user.street + ", " + @user.city + ", " + @user.state + ", " + @user.country %></li>
    <% end %>
    <% end %>
</ul>

<!-- Controls to edit/delete profile, only available to current user -->
<div class="container controls">
    <% if @current_user && @current_user.id == @user.id  %>
    <button class="btn waves-effect waves-light z-depth-0" type="button" name="action"><%= link_to("Edit", "/users/#{@user.id}/edit") %></button>

    <button class="btn waves-effect waves-light z-depth-0" type="button" name="action"><%= link_to("Delete", "/users/#{@user.id}", method: :delete, data: { confirm: "Are you sure?" }) %></button>
    <% end %>
</div>


<h3>Gigs I have attended</h3>
<ul>
<% @user.gigs.each do |gig| %>
    <li><%= link_to(gig.artist, "/gigs/#{gig.id}") %></li>
    <li><%= gig.date %></li>
    <li><%= gig.venue %></li>
    <li><%= gig.city %></li>
<% end %>
</ul>

<%= @current_user.to_json %>
