<h1><%= @user.first_name%>
    <%= @user.last_name %></h1>
<% if @user.image %>
<div><%= image_tag @user.image %></div>
<% end %>



<ul>

    <% if @current_user && @current_user.id == @user.id  %>
    <% if @user.building_number && @user.street && @user.city && @user.state && @user.country %>
    <li>Address:
        <%= @user.building_number + " " + @user.street + ", " + @user.city + ", " + @user.state + ", " + @user.country %></li>
        <li>Email: <%= @user.email %></li>
    <% end %>
    <% end %>
</ul>

<!-- Controls to edit/delete profile, only available to current user -->
<div class="container controls">
    <% if @current_user && @current_user.id == @user.id  %>
    <button class="btn waves-effect waves-light z-depth-0" type="button" name="action"><%= link_to("Edit", "/users/#{@user.id}/edit") %></button>

    <button class="btn waves-effect waves-light z-depth-0" type="button" name="action"><%= link_to("Delete my profile", "/users/#{@user.id}", method: :delete, data: { confirm: "Are you sure?" }) %></button>
    <% end %>
</div>



<h3>Gigs I have attended</h3>
<ul>
<% @user.gigs.each do |gig| %>
    <li><%= link_to(gig.artist, "/gigs/#{gig.id}") %></li>
    <li><%= gig.date %></li>
    <li><%= gig.venue %></li>
    <li><%= gig.city %></li>
<% end %>
</ul>

  <% if @current_user && @current_user.id == @user.id  %>
<h2>Messages</h2>
<ul>
 <% if @existing_chatrooms_users %>
   <% @existing_chatrooms_users.each do |other_user| %>
    <% if other_user != current_user %>
      <li>
        <%= link_to(user_chatrooms_path(current_user, :other_user => other_user.id), method: :post) do %>
        <%= other_user.username %>
        <% end %>
      </li>
     <% end %>
   <% end %>
  <% end %>
</ul>
<% end %>




<!-- Loop through all gigs, grab the lat and long and push to an empty array -->
<% @markers = [] %>
<% @user.gigs.each do |i|%>
      <% @markers.push([i.latitude, i.longitude]) %>
<% end %>

<div id="map"></div>
  <style>
      #map {
          width: 80%;
          height: 400px;
          background-color: grey;
      }

  </style>

  <script>
      function initMap() {
          var userPos = {
              lat: <%= @current_user.latitude %>,
              lng: <%= @current_user.longitude %>
          };
          // Using markers array from above, saved this to variable
          var locs = <%= @markers.to_json.html_safe %>
          // Create map, rendering to the div with id of map, use userPos as the center
          var map = new google.maps.Map(document.querySelector("#map"), {
              zoom: 2,
              center: userPos
          });
          var marker = new google.maps.Marker({position: userPos, map: map, icon: "http://www.douganproperty.com/170607071741/style/icons/attr-type.png"});
          for (i = 0; i < locs.length; i++) {
              marker = new google.maps.Marker({
                  position: new google.maps.LatLng(locs[i][0], locs[i][1]),
                  map: map
              })
          }
      }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbIJZ9EErSr9JKgU1aHTgjCCY_m-v78wE&callback=initMap"></script>

</div>
