<h1>Search results</h1>


<table>
  <thead>
    <tr>
      <th>Artist</th>
      <th>Venue</th>
      <th>City</th>
      <th>State</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @gigInfo["setlists"]["setlist"].each do |list| %>
      <tr>
        <%= form_for @gig do |f| %>
        <td><%= f.text_field :artist, :value => list["artist"]["@name"] %></td>
        <td><%= f.text_field :venue, :value => list["venue"]["@name"]  %></td>
        <td><%= f.text_field :city, :value => list["venue"]["city"]["@name"] %></td>
        <td><%= f.text_field :state, :value => list["venue"]["city"]["@state"] %></td>
        <td><%= f.text_field :date, :value => list["@eventDate"] %></td>
        <td><%= f.submit "Add gig"%></td>
        <% end %>
      </tr>

    <% end %>

  </tbody>
</table>

<div class="controls">
<p>placeholder for next/previous buttons</p>
</div>





<!-- SETLIST -->
<!-- @setlists["setlists"]["setlist"][0]["sets"]["set"][0]["song"] loop through indexes of that array for setlist-->
<!-- list["venue"]["city"]["coords"]["@lat"] -->
<!-- list["venue"]["city"]["coords"]["@long"] -->
