<h1><%= @gig.artist %></h1>


<ul>

  <li>Venue: <%= @gig.venue %></li>
  <li>City: <%= @gig.city %></li>
  <li>Date: <%= @gig.date %></li>

</ul>


<div class="controls">
  <%= link_to("Delete Gig from my list", "/gigs/#{@gig.id}", method: :delete, data: { confirm: "Are you sure?" }) %>
</div>

<h3>You are connected to the below people because you went to this gig.</h3>
<p>Map will show here</p>
